@charset "utf-8";
#branding { z-index: 9996; } /* a little naughty, twentyeleven fix */
.ore { margin-bottom: 10px; }
form.ore-form, form.ore-remember, div.ore-register form { position: relative; }
.ore table {
    width: 100% !important;
    margin: 0px !important;
    border: none !important;
    border-spacing: 0;
    border-collapse: collapse;
}
.ore td,.ore th {
    padding: 0;
    border-spacing: 0;
    border: none !important;
}
.ore td {
    padding-top: 7px;
    vertical-align: top;
    background-color: none;
}

/* Logged out CSS */
.ore .ore-username-label, .ore .ore-password-label {
    padding-right: 10px;
    vertical-align: middle;
}
.ore-password input, .ore-username input, .ore-email input, .ore-remember-email input {
    margin: 0px;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
}
.ore-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FFFFFF url(loading.gif) 50% 50% no-repeat;
    left: 0px;
    top: 0px;
    opacity: 0.8;
    filter:alpha(opacity=80);
}
.ore-status {
    margin: 0px 0px 5px;
    padding: 10px 10px;
    color: #333;
    border-radius: 3px;
    display: none;
}
.ore-status-invalid, .ore-status-confirm {
    display: block !important;
}
.ore-status-invalid {
    background-color: #FFEBE8;
    border: 1px solid #C00;
}
.ore-status-confirm {
    background-color: #f1fff0;
    border: 1px solid #a8d144;
}

/*Logged In CSS*/
.ore-avatar {
    width: 60px;
    padding-right: 10px;
}
.ore-info { text-transform: lowercase; }

/*Forgotten password*/
.ore-remember {
    margin-top: 10px;
    display: none;
}

/*Registration*/
.ore .ore-register {
    margin-top: 10px;
    display: none;
}

/*OpenID specific*/
.ore-register hr { display: block; }
.ore-register #openid_identifier { width: auto; }

/* Modals CSS */
.ore-modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    background: rgba(0,0,0,.8);
    z-index: 100;
    display: none;
    top: 0;
    left: 0;
}
.ore-modal {
    visibility: hidden;
    top: 100px;
    left: 50%;
    margin-left: -240px;
    width: 400px;
    background: #fefefe;
    position: absolute;
    z-index: 101;
    padding: 30px 40px 34px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
    box-shadow: 0 0 10px rgba(0,0,0,.4);
}
.ore-modal h4, .ore-modal p { margin-bottom: 10px; }
.ore-modal .ore-modal-close {
    font-size: 30px;
    line-height: .5;
    position: absolute;
    top: 8px;
    right: 11px;
    color: #aaa;
    text-shadow: 0 -1px 1px rbga(0,0,0,.6);
    font-weight: bold;
    cursor: pointer;
}

/* divs-only */
.ore-divs-only p { margin: 8px 0px 5px !important; }
.ore-divs-only input[type="text"] { margin: 5px 0px 10px; }
.ore-divs-only .ore-submit-button, .ore-divs-only .ore-links { margin-top: 5px; }
.ore-divs-only .ore-form .ore-submit-button { float: right; }
.ore-divs-only .ore-remember, .ore-divs-only .ore-register { clear: both; }

/* Modal Template */

/*.ore-template--modal .ore-modal-box {
    background-color: #fff;
    color: #333;
    width: 350px;
    padding: 15px;
    text-align: left;
    border: 2px solid #333; opacity:0.8;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
}
.ore-template--modal .ore-modal-box h4 {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
.ore-template--modal .ore-modal-box .close {
    background: url(modal/close.png) 0px 0px no-repeat !important;
    position: absolute;
    right: -15px;
    top: -15px;
    cursor: pointer;
    height: 35px;
    width: 35px;
    border: none;
    padding: 0px;
    margin: 0px;
}
.ore-template--modal .ore-modal-box #wp-submit {
    display: block;
    clear: both;
} */
