@charset "utf-8";

/* for the surrounding page container */
article.ore-form .container {
    background: #fefefe;
    padding-bottom: 1em;
}
article.ore-form .container .entry-content > p,
article.ore-form .container .entry-content > div.ore {
    padding: 0 28px 0 28px;
}
